doctype html
html(lang='en')
	head
		title= app.config.title
	
	body.appear
		video#background-video(autoplay, loop, poster='https://akamai-webcdn.blackdesertonline.com/web/static/images/events/mediah_update/landing_bg_clip_dark_thumb.jpg')
			source(src='https://akamai-webcdn.blackdesertonline.com/web/static/video/mediah/mediah_bg_video.mp4', type='video/mp4')
		
		#header-container
			h1= app.config.title
			#navigation-container
				nav#navigation
					each item, name in menu
						a.navigation-item.ajax(href=item.url)
							i.navigation-item-icon.fa.fa-fw(class='fa-' + item.icon)
		
		#content-container
			main#content.fade!= content
		
		#render
		
		#loading-animation
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js')
		script(src='http://threejs.org/examples/js/GPUParticleSystem.js')