body
	display flex
	flex-flow column

#header-container
	flex-grow 0

#content-container
	flex-grow 1

#content
	padding 3rem 0
	width 100%
	max-width 728px
	margin 0 auto

#background-video, #render
	position absolute
	left 0
	top 0
	width 100vw
	z-index -2

#render
	width 100vw
	height 100vh
	z-index -1